@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <cie-button challenge-url="/home/login" size="Medium" class="text-left"></cie-button>
</div>

